.container
  .columns
    .slider-mobilization
      .bxslide-home{:style => "margin-top:30px;"}
        = image_tag 'http://www.codhab.df.gov.br/uploads/archive/images/dfcc9f0c1f1b27e0795328c8c0fe68ec.jpg'
        = image_tag 'http://www.codhab.df.gov.br/uploads/archive/images/ff0323cd9de17efc9a5c353bba81c1f5.jpg'
        = image_tag 'http://www.codhab.df.gov.br/uploads/archive/images/431f25c1e86fbbba0fd878484c1cadaa.jpg'
  .columns
    .column
      %h1.is-size-1.title.has-text-centered.mobilization.margin-50 Gerência de Mobilização Social - GEMOB
  .columns
    .column
      %h5.title.mobilization 
        >> Mobilização Social
      %p
        A GEMOB tem como atribuição a execução do Trabalho Social, que compreende um conjunto de estratégias, processos e ações, realizado a partir de estudos de diagnósticos integrados e participativos do território, compreendendo as dimensões: social, econômica, produtiva, ambiental e político institucional do território e da população beneficiária, além das características da intervenção. Visa promover o exercício da participação e a inserção social dessas famílias, em articulação com as demais políticas públicas, contribuindo para a melhoria da sua qualidade de vida e para a sustentabilidade dos bens, equipamentos e serviços implantados.
  .columns
    .column
      %h5.title.mobilization 
        >> Prestação de Serviços
      %p
        A equipe técnica da GEMOB é encarregada do planejamento, execução e avaliação de ações do Projeto de Trabalho Social (PTS). O grupo é formado por profissionais especializados em intervenções habitacionais com foco na população de baixa renda. A participação da equipe social ocorre em todas as fases de planejamento pré e pós obra dos projetos. A atuação é feita de forma proativa junto à comunidade, que auxilia no reconhecimento da área. Nessa fase, a GEMOB apresenta o objetivo e as atividades a serem desenvolvidas no PTS aos moradores e identifica o perfil do público a ser beneficiado pelo programa. Entre as atividades desenvolvidas pela equipe de trabalho social da CODHAB estão os serviços de capacitação profissional, direito social, acompanhamento e gestão da intervenção habitacional, desenvolvimento socioeconômico, educação ambiental e patrimonial.
  .columns
    .column
      %h5.title.mobilization 
        >> Beneficiados
      %p
        Famílias localizadas em áreas de atuação do Programa de Aceleração do Crescimento (PAC) no Distrito Federal e famílias beneficiadas pela Política de Habitação do DF, vinculadas ao Programa Morar Bem, com renda familiar mensal até R$1.600,00.
    .column
      %h5.title.mobilization 
        >> Plantão Social
      %p
        O serviço de plantão social da CODHAB é formado por assessores técnicos e assistentes sociais. As demandas são acolhidas, diariamente, conforme o cronograma de atendimento por região, estabelecido pela GEMOB.
  .columns
    .column
      %h1.is-size-1.title.has-text-centered.mobilization.margin-50 Projetos de trabalhos técnicos sociais
  .columns
    .column.is-4
      .card
        .card-image
          %figure.image.is-4by3
            %img{:alt => "Placeholder image", :src => "https://bulma.io/images/placeholders/1280x960.png"}/
        .card-content
          .media
            .media-content
              %p.title.is-4 CODHAB
          .content
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris.
            %br/
    .column.is-4
      .card
        .card-image
          %figure.image.is-4by3
            %img{:alt => "Placeholder image", :src => "https://bulma.io/images/placeholders/1280x960.png"}/
        .card-content
          .media
            .media-content
              %p.title.is-4 CODHAB
          .content
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris.
            %br/
    .column.is-4
      .card
        .card-image
          %figure.image.is-4by3
            %img{:alt => "Placeholder image", :src => "https://bulma.io/images/placeholders/1280x960.png"}/
        .card-content
          .media
            .media-content
              %p.title.is-4 CODHAB
          .content
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris.
            %br/
  .columns
    .column
      .mobilization-rules.has-text-centered.margin-50
        %p
          %b
            %a{:href => "http://www.habitacao.sp.gov.br/casapaulista/downloads/portarias/portaria_21_01jan_22_2014_manual_inst_trabalho_social.pdf"}
              Normas e Regulamentação
        %p
          Portaria nº 21 
        %p
          22 de janeiro de 2014, Ministério das Cidades
  .columns
    .column
      %h1.is-size-1.title.has-text-centered.mobilization.margin-50 Selagens
  .columns.is-multiline
    .column.is-4
      .card
        .card-image
          %figure.image.is-4by3
            %img{:alt => "Placeholder image", :src => "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/solnascente.png"}/
        .card-content
          .media
            .media-content.has-text-centered
              %p.title.is-4 
                %a{:href => "#"} Selagem Sol Nascente
              %p.subtitle.is-6 SHSN Quadra 209, conj A e B (Trecho 2)
            %br/
    .column.is-4
      .card
        .card-image
          %figure.image.is-4by3
            %img{:alt => "Placeholder image", :src => "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/crixa.png"}/
        .card-content
          .media
            .media-content.has-text-centered
              %p.title.is-4 
                %a{:href => "#"} Selagem Crixá
              %p.subtitle.is-6 São Sebastião
            %br/
    .column.is-4
      .card
        .card-image
          %figure.image.is-4by3
            %img{:alt => "Placeholder image", :src => "http://www.codhab.df.gov.br/uploads/archive/files/c6df9e3e2110a65d5b88b15f3473eefc.jpg"}/
        .card-content
          .media
            .media-content.has-text-centered
              %p.title.is-4 
                %a{:href => "#"} Selagem Bonsucesso
              %p.subtitle.is-6 São Sebastião
            %br/
    .column.is-4
      .card
        .card-image
          %figure.image.is-4by3
            %img{:alt => "Placeholder image", :src => "http://www.codhab.df.gov.br/portal/images/fotos_selagem_bananal/SOFSULMAPA.png"}/
        .card-content
          .media
            .media-content.has-text-centered
              %p.title.is-4 
                %a{:href => "#"} Selagem Bananal SOF SUL
              %p.subtitle.is-6 SOF SUL
            %br/
    .column.is-4
      .card
        .card-image
          %figure.image.is-4by3
            %img{:alt => "Placeholder image", :src => "http://www.codhab.df.gov.br/uploads/archive/files/e9a04003acacd3bb8dca14d8494fcd01.jpg"}/
        .card-content
          .media
            .media-content.has-text-centered
              %p.title.is-4 
                %a{:href => "#"} Selagem Parque das Copaíbas
              %p.subtitle.is-6 Parque das Copaíbas
            %br/
  .columns
    .column.margin-50
      #map
      %iframe{:src => "https://www.google.com/maps/d/embed?mid=1yRS1CwGHE3DJAA2D0xJLfDXIVkU", :width => "100%",:height => "480", }