// Inicio de ações urbanas
.ground{
  background: #EAEBEF
}
.no-padding{
  padding: 0px;
}
.bx-wrapper{
  border: none;
  width: 1171
}

.bx-viewport{
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 402px !important;
}

.bxslide_action li{
  width: 1345px !important;
}
.about-action{
  height: 330px;
  background-color:#79b792;
  float: left;
}
.about-action-text{
  background-color:#de3859;
  height: 330px;
  padding-top: 1px;
}
.about-action-text p{
  font-size: 15px;
  color: #fff;
  margin-top:30px;
  margin-left: 225px;
  text-align: justify;
}
.about-action-title{
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  display: table;
  margin-top: 116px;
  margin-left: 30px;
  transform: rotate(-90deg);

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.action-button{
  border: 2px solid #fff;
  font-size: 29px;
  font-weight: bold;
  padding: 7px;
	text-align: center;
  width: 357px;
  color: #fff!important;
  display: block;
  margin:0 auto;
  margin-top: 50px;
}

.action-button:hover{
  text-decoration: underline;
}

.action-button-2{
  border: 2px solid #fff;
  font-size: 29px;
  font-weight: bold;
  padding: 7px;
	text-align: center;
  width: 357px;
  color: #fff!important;
  display: block;
  margin:0 auto;
  margin-top: 37px;
}

.action-button-2:hover{
  text-decoration: underline;
}

.action-button2{
	float: left;
	margin-left: 136px;
}

strong{
  color: #fff;
}

.home-title{
  font-size: 48px;
  margin-top: 40px;
  text-align: center;
}

.action-image{
  height: 250px;
  background-color: #000;
  background-size: cover;
  overflow: hidden;
}

.action-image img{
  width: 100%
}

.action-block{
  padding: 0px 15px 0px 15px;
}

.action-block-title{
  color:#000;
  font-size: 33px;
}

.action-block-subtitle{
  color: #8b8b8c;
  font-size: 33px;
}

.action-block-button{
	color: #fff;
	font-size: 43px;
	width: 100%;
	display: block;
	text-align: center;
	margin-top: 20px;
}

.action-block-button:hover{
  text-decoration: underline;
}

.action-block-button:hover{
  color:#fff;
}

.action-color-0{
  background-color: #DA3957;
}
.action-color-1{
  background-color: #3C996A;
}
.action-color-2{
  background-color: #F2954D;
}

.giant-text{
  color:#fff;
  font-size:29px;
	padding-left: 100px;
}

.giant-title{
  color: #fff;
  font-size: 44px;
  padding: 17px;
  text-align: center;
}

.default-margin{
  margin-top: 50px;
}

.action-button-gallery{
  width: 400px;
}

.action-title-home{
  background-color:#339967;
  color:#fff;
  padding-left: 100px;
	font-size: 30px;
}

.button{
  border: 0px;
  width: 100%;
  height: 85px;
  border-radius: unset;
  color: #fff;
  font-size: 22px;
}

.button:hover{
  color: #fff;
  text-decoration: underline;
}

.text-button{
  font-weight: bold;
}

.action-map{
  width: 100%;
  height: 480px;
}
// fin ações urbanas

// inicio eventos sociais

.text-block-social{
  padding-top: 27px;
  font-size: 36px;
}

.social-text{
  text-align: justify;
  padding-top: 25px;
}

.social-text p{
  color: #fff;
  font-size: 14px;
  padding-bottom: 22px;
}

.social-button{
  border: 2px solid #fff;
  font-size: 29px;
  font-weight: bold;
  padding: 7px;
  text-align: center;
  width: 357px;
  color: #fff !important;
  display: block;
  margin: 0 auto;
  margin: 26px 0px 26px 110px;
}

.social-button:hover{
  text-decoration: underline;
}
.internal-image{
  height: 557px
}
.internal-image img{
  height: 557px;
  width: 100%;
}
// fim eventos sociais

// inicio partial contact

.contact-block{
  background: #FCCB3C;
}

.contact-text{
  color: #fff;
  font-size: 25px;
  padding-left: 160px;
}
// fim partial contact

// inicio partial admin

.admin-block{
  background: #8A8A8B
}

.admin-image{
  width: 168px;
  height: 168px;
  background-color: black;
  border-radius: 120px;
  margin:0 auto;
}

.admin-image img{
  border-radius: 120px;
}

.admin-title{
  margin-top: 12px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.admin-text{
  text-align: justify;
  color: #fff;
  font-size: 20px;
}
// fim partial admin

// inicio ações concluidas

.conclude-title{
  font-size: 41px;
  color: #fff;
  padding: 29px 0px 0px 52px;
}

.conclude-block{
  height: 120px;
}

.conclude-color{
  background: #fff;
  padding: 33px 10px;
}

// fim ações concluidas

// inicio galeria

.gallery-title{
  text-align: center;
  font-size: 20px;
}

.gallery-image{
  text-align: center;
  padding: 16px;
  overflow: hidden;
  height: 480px;
}

.gallery-image img{
  width: 100%;
}

// fim galeria

// inicio assistencia tecnica

.technical-title{
  font-size: 40px;
  font-weight: bold;
}
.technical-block{
  background: #BF1D7A;
  margin: 1px;
}

.technical-block p{
  color: #fff;
  text-align: justify;
  padding: 10px
}

.technical-station-block-close{
  background: #858585;
  text-align: center;
  color: #fff;
}
.technical-station-block-open{
  background: #F6AF21;
  text-align: center;
  color: #fff;
}

.technical-station-title{
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 20px;
}

.technical-station-subtitle{
  font-size: 12px;
}

.technical-station-label{
  border-bottom: 1px solid;
  border-top: 1px solid;
  font-size: 13px;
  font-style: italic;
}

.technical-station-button{
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 6px;
  color: #fff !important;
  display: block;
  margin-top: 31px;
}

.technical-station-footer{
  border-top: 1px solid;
  margin-top: 31px;
}

.technical-station-footer h4{
  padding-top: 25px;
  font-size: 18px;
  font-weight: bold;
}

.technical-station-footer p{
  font-size: 12px;
  font-weight: bold;
}

.technical-station-image{
  height: 290px;
  overflow: hidden;
}
// fim assistencia tecnica

// inicio postos

.station-image img{
  width: 100%
}

.station-block-color-1{
  background: #F6AF21;
  color: #fff;
  text-align: center;
  margin: 50px 1px;
}

.station-block-color-2{
  background: #7F7F7F;
  color: #fff;
  text-align: center;
  margin: 50px 1px;
}

.station-text h2{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 18px;
}

.station-text h4{
  margin-bottom: 18px;
}

.station-block{
  padding: 10px
}

.station-title{
  font-size: 43px;
  text-decoration: underline;
  font-weight: bold;
}

.station-subtitle{
  font-size: 27px;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 23px;
}

.station-date{
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 28%;
  margin: 0 auto;
  font-style: italic;
  margin-bottom: 18px;
}

p.responsible{
  font-size: 26px;
  margin-top: 18px;
  margin-bottom: 18px;
}
