%footer.footer
  .columns
    .column
      %img{:alt => "CODHAB", :src => "http://www.codhab.df.gov.br/portal/images/codhab_footer.png"}
    .column.has-text-centered
      .block_footer
        %h5.title.is-5 Atendimento Presencial
        .contact_box
          %p.contact
            %b
              Habita Brasília: Morar Bem, Lote Legal, Portas Abertas, Aluguel Legal
            %br
            %br
            %b Rodoviária:
            Subsolo da Estação Rodoviária de Brasília, Plataforma “D” 
            %br/
            Horário dias da semana: 7h30 às 18h, de segunda a sexta-feira e 7h30 às 12h, aos sábados.
            %a{:href => "http://www.ouvidoria.df.gov.br",:target =>"_blank"}
            %br
            = link_to 'Postos de Atendimento', 'http://www.codhab.df.gov.br/assistencia_tecnica'
        %br/
        .contact_box
          %h5.title.is-5 Atendimento Especializado Pessoa com Deficiência.(Homologação de Laudo Médico)
          .contact_box
            %p.contact
              Quadra 112, asa sul, na
              estação do metrô, das 8h às
              17h,
              %br/
              de segunda a sexta-
              feira.
    
    .column.has-text-centered
      .block_footer
        %h5.title.is-5 Ouvidoria
        .contact_box
          %p.contact
            Para registrar a sua manifestação,
            %br/
            ligue 162 ou acesse o endereço
            %br/
            %a{:href => "http://www.ouvidoria.df.gov.br",:target =>"_blank"}
              www.ouvidoria.df.gov.br
          %br/
          %br/
          .contact_box.contact_box_4
            %h5.title.is-5 Central de Atendimento
            .contact_box
              %p.contact
                %b 156
                opção 5. Das 7h as 19h