%section.main-content.columns.is-fullheight
  %aside.column.is-2.is-narrow-mobile.is-fullheight.section.is-hidden-mobile
    %p.menu-label.is-hidden-touch Navigation
    %ul.menu-list
      %li
        %a{:href => "#"}
          %span.icon
            %i.fa.fa-home
          Home
      %li
        %a.is-active{:href => "#"}
          %span.icon
            %i.fa.fa-table
          Links
        %ul
          %li
            %a{:href => "#"}
              %span.icon.is-small
                %i.fa.fa-link
              Link1
          %li
            %a{:href => "#"}
              %span.icon.is-small
                %i.fa.fa-link
              Link2
      %li
        %a{:href => "#"}
          %span.icon
            %i.fa.fa-info
          About
  .container.column.is-10
    .section
      .card
        .card-header
          %p.card-header-title Header
        .card-content
          .content Content
      %br/
      .card.is-hidden1
        .card-header
          %p.card-header-title Header
        .card-content
          .content Content
      %br/
      .card.is-hidden1
        .card-header
          %p.card-header-title Header
        .card-content
          .content Content
      %br/
      .card.is-hidden1
        .card-header
          %p.card-header-title Header
        .card-content
          .content Content
      %br/
      .card.is-hidden1
        .card-header
          %p.card-header-title Header
        .card-content
          .content Content
      %br/
      .card.is-hidden1
        .card-header
          %p.card-header-title Header
        .card-content
          .content Content
      %br/