.columns.is-centered
  .column.is-four-fifths
    %h1.home-title
      Ações Finalizadas
.columns.default-margin.admin-label
  .column.is-3
    .admin-image
      = image_tag 'http://www.codhab.df.gov.br/portal/acoes/donacida.jpg'
    .admin-title
      Dona Cida
      %br
      Moradora de São Sebastião
    .admin-text
      “Este projeto está sendo uma maravilha. Antes eu sentia que morava em uma roça, agora eu sinto que moro em Brasília! Eu posso falar que estou morando em Brasília porque vai ficar muito bonita minha rua.”
  .column.is-3
    .admin-image
      = image_tag 'http://www.codhab.df.gov.br/portal/acoes/tete.jpg'
    .admin-title
      Tetê Almeida
      %br
      Moradora do Sol Nascente Trecho 2
    .admin-text
      “[...] Foi uma experiência ímpar, a participação dos órgãos públicos ali presentes, a comunidade junto, todos com a mesma finalidade: trazer mais qualidade de vida pra essa comunidade tão sofrida. Um espaço que era totalmente inóspito ficou lindo, com gramado, brinquedos, árvores, hortaliças, bancos, lixeiras... Agora as crianças têm onde brincar, e os adultos, um ponto de encontro. Tem até uma PEC para fazer ginástica! Enfim, quero agradecer todo grupo da CODHAB, pela iniciativa, pela oportunidade de ter participado desse belo trabalho! Gratidão!”
  .column.is-3
    .admin-image
      = image_tag 'http://www.codhab.df.gov.br/portal/acoes/silvio.jpg'
    .admin-title
      Silvio Costa
      %br
      Morador do Sol Nascente Trecho 1
    .admin-text
      “Antes havia muito lixo; era um local que servia de “moradia” para animais peçonhentos, cachorros e cavalos. Quando chovia, a lama era insuportável. O tráfico estava tomando conta do local e consequentemente as crianças estavam sem recreação em horas vagas, mexiam com coisas erradas...Agora a praça se tornou o “Centro” do Sol Nascente, acumulando grande número de pessoas buscando trazer seus filhos para brincar no parquinho; idosos se exercitando, saindo de casa também para conversar. Não há mais lixo e assim acabaram também os animais que viviam procurando comida neste local.”
  .column.is-3
    .admin-image
      = image_tag 'http://www.codhab.df.gov.br/portal/acoes/manuella.jpg'
    .admin-title
      Manuela Carvalho
      %br
      Arquiteta e urbanista, voluntária Coletivo MOB
    .admin-text
      “Participar da ação comunitária no Sol Nascente foi inspirador. Poder colocar em prática tudo o que estudei e vivenciei em relação a processos participativos e ainda transmiti-los aos outros participantes e organizadores faz parte do meu papel como arquiteta e urbanista formada para ajudar a construir um mundo melhor”
