.columns.contact-label.default-margin
  .column.contact-text
    %p
      %b
        Dúvidas // Opiniões
      %br
      Entre em contato conosco
      %br
      %b
        acoescomunitarias@codhab.df.gov.br
