.columns.contact-block.default-margin
  .column.giant-text.is-size-4.text-color
    %p
      %b
        Dúvidas // Opiniões
      %br
      Entre em contato conosco
      %br
      %b
        acoescomunitarias@codhab.df.gov.br
