.container
  .columns.action-color-2.giant-text.default-margin
    .column.is-6
      %p
        %b
          Ação Urbana Comunitária
        %br
        Ceilândia Sol Nascente- Avenida do Produtor
        %br
        %b
          24.03 /// 9h
    .column.is-6
      = link_to "Álbum da Ação", "#" , class: "action-button-2 action-button-gallery"

  .columns.action-color-1.giant-text.default-margin
    .column.is-6
      %p.text-label-social
        %b
          Confira os resultados da ação!
    .column.is-6
      = link_to "Relatório da Ação", "#" , class: "social-button action-button-gallery"

  .columns.action-color-0.default-margin
    .internal-image.is-6.no-padding
      = image_tag 'http://www.codhab.df.gov.br/uploads/archive/images/31db059ecf4354b3957b012744df642c.jpg'
